body{
    font-family: 'Kite One', 'Noto Sans TC', sans-serif;
}
@mixin pad {
  @media screen and (min-width: 576px) and (max-width: 991px) {
    @content;  
  }  
};
@mixin board {
  @media screen and (min-width:992px){
    @content;  
  }
}
@mixin moilbe {
  @media screen and (max-width:575px){
    @content;  
  }
}
.moilbe {
  display: none;
  @include moilbe {
    display: flex;
  }
}
.nonePad {
  @include pad {
    display: none;
  }
  @include moilbe {
    display: none;
  }
}
.noneBoard {
  @include board {
    display: none;
  }
}
.min-vh {
  min-height: calc(100vh - 230px);
}
.z-index2 {
  z-index: 5;
}
.bigtopSpacing {
  margin-top: 80px;
  @include moilbe {
    margin-top: 48px;
  }
}
.bigbotSpacing {
  margin-bottom: 80px;
  @include moilbe {
    margin-bottom: 48px;
  }
}
.sectionSpcing {
  margin-bottom: 64px;
}
.botRound{
  border-radius: 0 0 $border-radius $border-radius;
}
.paddingLevel{
  @include moilbe {
    padding-left: 0;
    padding-right: 0;
  }
  padding-left: 30px;
  padding-right: 30px;
}
.moilbePadding {
  @include moilbe {
    padding-left: 0;
    padding-right: 0;
  }
}
.customBorder{
  border: 1px solid $secondary;
  border-radius: $border-radius;
}
// loadcss
@keyframes ldio-9d27yb1g2eu {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-9d27yb1g2eu div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-9d27yb1g2eu linear 1s infinite;
  background: #fe718d;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-9d27yb1g2eu div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fe718d;
}.ldio-9d27yb1g2eu div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fe718d;
}.ldio-9d27yb1g2eu div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe718d;
}.ldio-9d27yb1g2eu div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fe718d;
}.ldio-9d27yb1g2eu div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fe718d;
}.ldio-9d27yb1g2eu div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe718d;
}.ldio-9d27yb1g2eu div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fe718d;
}.ldio-9d27yb1g2eu div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fe718d;
}.ldio-9d27yb1g2eu div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe718d;
}.ldio-9d27yb1g2eu div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fe718d;
}.ldio-9d27yb1g2eu div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fe718d;
}.ldio-9d27yb1g2eu div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
}
.loadingio-spinner-spinner-jz9qo78s5j {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-9d27yb1g2eu {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-9d27yb1g2eu div { box-sizing: content-box; }
/* generated by https://loading.io/ */