@mixin font {
    font-family:'Coiny','Noto Sans TC',cursive, sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-lg;
    font-weight: 400;
}
@mixin bgi($url) {
    background-image: url($url);
    background-position: center;
    background-size: cover;
}
@mixin border {
    border: $darkbgc 3px solid;
}
.banner{
    height: 500px;
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/04prQya0DeT6uaLn8MKRi8N7kTG6aGv1Fp1v7Hh3gQXPqqAXLk0lSfH3HqxbvfsOEb5qCG6gMiV98a1iCMHVBZxdCRAX2ZOAMtJDd5JgftrtXKn6pZdvV3RTPeE1yq0y.jpg');
    border-radius: 10px;
    border: $darkbgc 3px solid;
}
.steakImage{
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/7NLyByPFKYPzKlTR0AkRlWHN7yQDyP7UrjEGTjNccenk7JHgRJDSxmBdU0dbBGCKbfQfrnudxxeKv9yDUpHMzwfm55yXIm8ZURmlROfEo5g5EZr4gNPA0N0GyDh0l3CW.jpg');
    height: 250px;
    border-radius: 25px;
    border: $darkbgc 3px solid;
}
.dessertImage{
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/mrwLz0ajrH9zWn4aHx9W6mNXjtdMAoN2DUPqK2ep7nFGUrQACBnvUqxXiIawUhZxSZt6kWBgJgrpBbhGSmzhJ4jI0TpjtJaR6HNoeo5V5lj5kdKrGtTR9qc4TCvwjb1j.jpg');
    height: 250px;
    border-radius: 25px;
    border: $darkbgc 3px solid;
}
.entree{
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/0B2XL6Bo37FTGgQXiKZuTHbHLADcgSe5laEPxMJnNGvWo0oxDWHDkE9HZCbSfew3d61PkNfp8lb4UqnHi1t3d29k77emPu0gkkRCU9a7MYnC9i5nBQO4qhlnvUbZZZc2.jpg');
}
.entreeBig{
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/rNgpIgw7p8aOFz1N7H6yGxm7X5KIqseQ9kwFfxGfPNKzZCOUoNJMAmGbpPJSmjDDoKvsF3KKa1GEslkGMw6xKZMUJa3GSbtB2mJkjFubqeBZgtfPHT5LA5BCztJZnqG4.jpg');
    height: 80vh;
}
.soup{
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/25wyvaylxgwrA5GYBSDM5TttebqCpGF1WVHgBSCq3DexshNKhWP03PVZpDmFmVtMyIJ2zUQdWwpiHTJ6ch4oImqljWsnOrioaQCrvjkfa0lq983F1pLfKz8VHYPt2Wc9.jpg');
}
.soupBig{
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/GGEhpoV1kPg629sYnmwrYX8fOuGSmmEvBnQalxTdj4VqjOCPayoIzkyn4TznmwMI3RreFhNKHmkcRoy3vFazbljU3FvRziMFqnlkRCwrVcrGZoZyWfcohCRB3KFfQqc7.jpg');
    height: 80vh;
}
.salad{
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/W8mMM1G5RTMgrHYkVe6876XpJOlJ3386wisqo6hpZmoDdNx6jQj9h9uSYAAx9qEGka3MnJlZLHHDIJNdpYARlwOY40ZEZTeFCUJVQ18fYWQhuCg7hP3oe86mEKQ2KLqo.jpg');
}
.saladBig{
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/Qa5tPmad92gcKZGZErneQwJPfuZfnszBenOzVdvhWzRWBXfzPYzm2sJsn9m0DNKGXw02ji40IoLTr3I3TUMHDxJ6Rtup9kYWwQqD4mRGLENO8npPUX6qtPePN7S8WNcQ.jpg');
    height: 80vh;
}
.dessert{
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/12TBlKwKtjzaeTxWFjufmKclrqIfegqobYiGcSbSJdfyICY4FBnm13LcLNunP7tV3h93brv1nTJV8BK4hXtJNgC984WfBrqHMhQOnAnudMTwOsr9ZLFpA8o2iEi9Ueay.jpg');
}
.tea{
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/1EuZu3fYAH3cSdNtB7dkHkW9iGBVSMR2kSY1jwyu7UnbBpMP29c1Q27rAOtzS6EhEVlW4Cyre1SGFOpdsmxwMmRXM2EDQmHrACVi7Yn6Dd7SkqAzE50FQyPeDX7aUb6u.jpg');
}
.managerImage{
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/Za7P6zOaaxKhzufKX3fj9zbuV5tEjAMzEvBYZsphixgb08a4CzAwfIrPpqNkDRyN8hzmgYw0CtDzIgEcbxiUaN3iYUroM1qxg0V9gncQ5dotL3ypiPjLlmbZKgyhz4Cs.jpg'); 
    height: 250px;
    border-radius: 25px;
    border: $darkbgc 3px solid;
}
.posterImage{
    @include bgi('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/mfMfulcQOA3Y9JQzx53dt57qtwoUnHsKkgnDgWkDyS7MZ5bloAmJW2jIemnXu3v4X3MGEXoGA3FefGHx8BBGF1BB31BZ4edd12SkgHRiiJBzkIKJ9O0Bpmgj9Hb8OLbA.png');
    height: 1400px;
}
.pinkBorder{
    @include border;
    border-radius: 25px;
}

