.logo{
    height: 120px;
    background-image: url('~@/assets/image/ccylogo.png');
    background-position: center;
    background-size: cover;
}
.table-width-big{
    width: 500px;
    max-width: 500px;
    word-wrap: break-word;
    word-break: break-all;
}
.bgc{
    background-color: $bgc;
}
.table-width-mid{
    width: 250px;
    max-width: 250px;
}
.bg-cri{
    color: 000;
}
.minicard{
    height: 200px;
    border: $darkbgc 3px solid;
    border-radius: 10px;
}

.managerContent{
    @include font;
}
.steakContent{
    @include font;
}
.dessertcontent{
    @include font;
}
.card{
    @include border;
    width: 300px;
    max-width: 300px;
}
.card-img-top{
    width: 100%;
    height: 198px;
}
.card-title{
    @include font;
    margin: auto;
    
}
.cart-text{
    @include font;
}
.modal-content{
    @include border;
}
.modal-body{
    background-color: $bgc;
}