.logo{
    height: 120px;
    background-image: url('~@/assets/image/ccylogo.png');
    background-position: center;
    background-size: cover;
}
.table-width-big{
    width: 500px;
    max-width: 500px;
    word-wrap: break-word;
    word-break: break-all;
}
.table-width-mid{
    width: 250px;
    max-width: 250px;
}
.bg-cri{
    background-color: $green;
    border-radius: 40%;
    height: 400px;
}
.minicard{
    height: 200px;
    border-radius: 10px;
    border: $primary 3px solid;
}

.managerContent{
    @include chineseFont;
}
.steakContent{
    @include chineseFont;
}
