.logo{
    height: 120px;
    background-image: url('~@/assets/image/ccylogo.png');
    background-position: center;
    background-size: cover;
}
@mixin chineseFont {
    font-family:'Noto Sans TC', sans-serif;
    font-size: $font-size-base;
    font-weight: 400;
    color: $secondary;
}
@mixin englishFont {
    font-family: 'Coiny', cursive;
    font-size: $font-size-base;
    font-weight: 400;
    color: $secondary;
}