.darkbgc{
    background-color: $darkbgc;
}
.nav{
    height: 80px;
    border-radius: 10px;
    @include pad{
        height: 160px;
    }
}
.navButton{
    font-family:'Noto Sans TC', sans-serif;
    font-size: $font-size-base;
    font-weight: 400;
    font-style: italic;
    color: $primary;
    text-decoration:none;
    padding: 20px 10px 20px 10px;
    border-radius: $border-radius;
}
.iconButton{
    border-radius: $border-radius;
    padding: 10px;
    color: $primary;
    background-color: $bgc;
}
.cartButton{
    padding: 15px;
}
.btn-manager{
    font-size: 0.8rem;
}
.footer{
    height: 150px;
    @include pad{
        height: 80px;
    }
}
.contact{
    @include font;
    color: $primary;
}
.address{
    @include font;
    color: $primary;
}