.darkbgc{
    background-color: $darkbgc;
}
.nav{
    height: 130px;
    border-radius: 10px;
    @include pad{
        height: 250px;
    }
}
.navButton{
    font-family:'Noto Sans TC', sans-serif;
    font-size: $font-size-base;
    font-weight: 400;
    font-style: italic;
    color: #000;
    background-color: $bgc;
    text-decoration:none;
    padding: 30px 20px 30px 20px;
    border-radius: $border-radius;
}
.navButton:hover{
    @include hover;
    background-color: #000;
    color: #fff;
    text-decoration: none;
}
.iconButton{
    border-radius: $border-radius;
    padding: 20px;
    color: #000;
    background-color: $bgc;

}
.cartButton{
    font-family:'Noto Sans TC', sans-serif;
    font-size: $font-size-base;
    font-weight: 400;
    font-style: italic;
    color: #000;
    background-color: $bgc;
    text-decoration:none;
    padding: 30px 20px 30px 20px;
    border-radius: $border-radius;
}
.btn-manager{
    font-size: 0.8rem;
}
.footer{
    height: 130px;
    @include pad{
        height: 300px;
    }
}
.contact{
    @include font;
    color: #000;
}
.address{
    @include font;
}